PORT=4000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# Neon Serverless PostgreSQL Database URL
# Format: postgresql://[user]:[password]@[endpoint].neon.tech/[dbname]?sslmode=require
DATABASE_URL="postgresql://neondb_owner:your-neon-password@ep-example-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require"
